page-about {
    .item-md ion-thumbnail {
        min-width: 25px;
        min-height: 25px;

        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        justify-content: center!important;
        
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width:25px;
        height:25px;
    }

    .vertical-align-content {
        margin-top: 0px!important;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .list-item-info{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .label-md{
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    ion-select{
        max-width: 100% !important;
    }

    .item-inner{
        border-style: none !important;
    }

    .select{
        width: 100%;
        background: url("../assets/imgs/burger.png") no-repeat right;
        appearance: none;
    }

    .select-md .select-placeholder{
        color: white;
    }

    .select-md .select-icon .select-icon-inner{
        color: white;
    }

    .toolbar-title{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .select-text, .select-icon-inner{
        display: none !important;
    }
}
