<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Arsip Dokumen Pembantu
    </ion-title>
  </ion-navbar>
  <ion-item color="primary">
    <ion-label color="light">
      <!-- Tipe Dokumen -->
    </ion-label>
    <!-- <button (click)="askChangePassword()" ion-button outline item-start>Ubah password</button> -->
    <ion-select color="light" item-end interface="popover" placeholder="[Pilih Tipe Dokumen]" placeholder-color="light">
      <ion-option *ngFor="let item of dokumenList" (ionSelect)="setDocType(item.id_keyword)" [value]="item.id_keyword">
        {{item.value_keyword}}</ion-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="getDocumentRefresh($event)">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>
  <!-- <button ion-button full (click)="downloadAndOpenPdf()">Download and open PDF</button> -->

  <ion-list *ngIf="documents != null">
    <ion-item *ngFor="let doc of documents">
      <ion-row justify-content-left align-items-center style="height: 100%">
        <ion-col col-2>
          <ion-thumbnail>
            <img src="assets/imgs/pdf75.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col col-10>
          <h2 text-wrap class="vertical-align-content" item-end>{{doc.originalfilename}}</h2>
        </ion-col>
      </ion-row>
      <ion-row justify-content-left align-items-center style="height: 100%">
        <button class="list-item-info" ion-button clear item-start
          (click)="downloadAndOpenPdf(doc.filename,doc.originalfilename)">Download</button>
        <p item-end>{{(doc.size/1000000).toFixed(2)+'MB'}}</p>
      </ion-row>
    </ion-item>
  </ion-list>

  <div *ngIf="documents==null">Connection Timeout, Scroll to refresh
  </div>
  <!-- {{result}} -->
</ion-content>