page-credits {

  .login-content {
    //background: #ff6600;
    background: #ff7755;

    .logo-row {
      padding-top: 10vh;
      padding-bottom: 30vh;
      min-height: 70vh;
      font-size: 3em;
      color: #ffffff !important;
    }

    .login-box {
      //background: #cc5500;
      background: #ff7755;
      padding: 20px 20px 20px 20px;
      margin-bottom: 0px;
      min-height: 30vh;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      //background: #ff6600;
      background: #c56149;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
  }

  .main-bg{
    background-color: #ffffff !important;
  }

  .logo-margins{
    margin: 20px 20px 20px 20px;
  }

}
