page-login {

  .login-content {
    //background: #ff6600;
    background: #ffffff;

    .logo-row {
      padding-top: 10vh;
      padding-bottom: 25px;
      min-height: 0vh;
      font-size: 3em;
      color: #ffffff !important;
    }

    .login-box {
      //background: #cc5500;
      background: #1abc9c;
      padding: 20px 20px 20px 20px;
      margin-bottom: 0px;
      //min-height: 30vh;
    }

    .login-btn{
      margin-bottom: 50px;
      background: #1abc9cbe;
      border-radius: 30px !important;
      border: 2px solid #ffffff;
    }

    .logo-rowOLD {
      padding-top: 10vh;
      padding-bottom: 30vh;
      min-height: 70vh;
      font-size: 3em;
      color: #ffffff !important;
    }

    .login-boxOLD {
      //background: #cc5500;
      background: #1abc9c;
      padding: 20px 20px 20px 20px;
      margin-bottom: 0px;
      min-height: 30vh;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      //background: #ff6600;
      background: #1abc9cbe;
      border-radius: 30px !important;
      border: 2px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
  }

  .btn-size{
    font-size: smaller;

    margin-bottom: 50px;
    background: #1abc9cbe;
    border-radius: 30px !important;

    display: block;
    max-width: 100px;
    max-height: 20px;
    margin: auto;
  }

}
