<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="Back"></ion-icon>
    </button>
    <ion-title>
      <div *ngIf="type=='kasus'" class="item item-avatar">
        <h2>Buat Kasus Baru</h2>
      </div>
      <div *ngIf="type=='kegiatan'" class="item item-avatar">
        <h2>Buat Kegiatan Baru</h2>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list height="100%">

    <ion-item>
      <ion-label stacked no-border-top>Judul</ion-label>
      <ion-input type="text" no-border-bottom></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Propinsi</ion-label>
      <ion-select [(ngModel)]="propinsi">
        <ion-option value="1">Jakarta</ion-option>
        <ion-option value="2">Yogyakarta</ion-option>
        <ion-option value="3">Bali</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked no-border-top>Daerah</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked no-border-top>Penggugat</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked no-border-top>Tergugat</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item text-wrap>
      <ion-label stacked no-border-top>Kronologis</ion-label>
      <ion-textarea class="big-box" style="height:100%" type="text"></ion-textarea>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <div text-center>
    <ion-card color="primary" (click)="createNewPost()">
      <ion-card-content>
        <h2>Kirim</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-footer>
