page-profile {
    .item-md ion-thumbnail {
        min-width: 25px;
        min-height: 25px;
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width:25px;
        height:25px;
    }

    .title{
        text-align: center;
    }

    .label{
        text-align: center;
    }

    .user-pic{
        padding-top: 20px;
    }

    .item-inner{
        border-style: unset !important;
    }

    .label img{
        border-radius: 50%;
        border: solid 1px black;
    }
}