<ion-header>
  <div>
    <ion-navbar no-border-bottom color="primary">
      <button *ngIf="view=='post'" ion-button menuToggle>
        <ion-icon name="Back"></ion-icon>
      </button>
      <ion-title>
        <div class="item item-avatar">
          <!-- <h2>{{judul}}</h2> -->
          <h2>SIP</h2>
        </div>
      </ion-title>
    </ion-navbar>
  </div>

  <div *ngIf="view=='comment' || view=='progress'">
    <div text-center>
      <ion-card *ngIf="view!='close'" color="primary" (click)="changeView(1)">
        <ion-card-content>
          <h2 *ngIf="type=='1'">Lihat Kasus</h2>
          <h2 *ngIf="type=='2'">Lihat Kegiatan</h2>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-navbar>
      <ion-title>
        Pendamping
      </ion-title>
    </ion-navbar>
    <ion-item no-lines>
      <h2 align="center"><b>{{posted_name}}</b></h2>
      <ion-avatar item-start *ngFor="let user of users">
        <h3 align="center"><b>{{posted_name}}</b></h3>
      </ion-avatar>
    </ion-item>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="view=='post'">
    <ion-title>
      <ion-navbar *ngIf="pembelajaran!='' && type==1" color="danger">
        <ion-title>
          Kasus ini sudah ditutup
        </ion-title>
        <!-- <ion-title *ngIf="type==2">
          Kegiatan ini sudah berakhir
        </ion-title> -->
      </ion-navbar>

      <ion-item>
        <h2>Nama Paralegal</h2>
        <p>{{posted_name}}</p>
      </ion-item>

      <ion-item>
        <h2>Propinsi</h2>
        <p>{{propinsi}}</p>
      </ion-item>

      <ion-item>
        <h2>Tanggal Acara</h2>
        <p>{{dateToDate(waktu)}}</p>
      </ion-item>

      <!-- <ion-item>
          <ion-label stacked no-border-top>Daerah</ion-label>
          <ion-input [(ngModel)]="daerah" type="text"></ion-input>
        </ion-item> -->

      <div *ngIf="type==1">
        <ion-item>
          <h2>Nama Korban</h2>
          <p>{{penggugat}}</p>
        </ion-item>

        <ion-item *ngIf="usia!=''&&usia!==null">
          <h2>Usia</h2>
          <p>{{usia}}</p>
        </ion-item>

        <ion-item *ngIf="kelamin!=''&&kelamin!==null">
          <h2>Jenis Kelamin</h2>
          <p>{{kelaminIs(kelamin)}}</p>
        </ion-item>

        <ion-item *ngIf="tergugat!=''&&tergugat!=null">
          <h2>Tergugat</h2>
          <p>{{tergugat}}</p>
        </ion-item>

        <ion-item>
          <h2>Jenis Peradilan</h2>
          <p>{{peradilanIs(jenis_kejadian)}}</p>
        </ion-item>
      </div>

      <div *ngIf="type==2">
        <ion-item>
          <h2>Pelaksana</h2>
          <p>{{penggugat}}</p>
        </ion-item>

        <!-- <ion-item>
          <h2>Penanggungjawab</h2>
          <p>{{tergugat}}</p>
        </ion-item> -->

        <ion-item>
          <h2>Jenis Kegiatan</h2>
          <p>{{kegiatanIs(jenis_kejadian)}}</p>
        </ion-item>
      </div>

    </ion-title>

    <div *ngIf="type==1">
      <ion-navbar color="primary">
        <ion-title>
          Kronologi
        </ion-title>
      </ion-navbar>
      <ion-item text-wrap>
        <h2 class="bigbox">{{kronologi}}</h2>
      </ion-item>

      <ion-navbar *ngIf="pembelajaran!=''" color="primary">
        <ion-title>
          Pembelajaran
        </ion-title>
      </ion-navbar>
      <ion-item text-wrap>
        <h2 class="bigbox">{{pembelajaran}}</h2>
      </ion-item>
    </div>

    <div *ngIf="type==2">
      <ion-navbar color="primary">
        <ion-title>
          Deskripsi Kegiatan
        </ion-title>
      </ion-navbar>
      <ion-item text-wrap>
        <h2 class="bigbox">{{kronologi}}</h2>
      </ion-item>
    </div>

    <div *ngIf="images.length>0">
      <ion-navbar color="primary">
        <ion-title>
          Dokumen Pendukung
        </ion-title>
      </ion-navbar>

      <!-- the list of files -->
      <ion-list *ngFor="let doc of images">
        <ion-item>
          <!-- <ion-thumbnail item-start>
              <img src="assets/imgs/pdf75.png">
            </ion-thumbnail> -->
          <h2>{{doc.originalfilename}}</h2>
          <p>{{(doc.size/1000000).toFixed(2)+'MB'}}</p>
          <button ion-button clear item-end
            (click)="downloadAndOpenPdf(doc.filename,doc.originalfilename)">Download</button>
        </ion-item>
      </ion-list>

      <!-- <ion-slides>
        <ion-slide>
          <div class="item item-avatar">
            <img src="//tutorialsplane.com/runtest/ionic/img/profile.jpg">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="item item-image">
            <img src="//tutorialsplane.com/runtest/ionic/img/cover.jpg">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="item item-image">
            <img src="//media.istockphoto.com/photos/thirsty-african-american-athlete-drinking-water-in-a-gym-picture-id668203864?k=6&m=668203864&s=612x612&w=0&h=qOKWHN87CQsaGZwF3RCQ4tod58YcStbdozm2xiv6XfM=">
          </div>
        </ion-slide>
      </ion-slides> -->

    </div>

    <!-- the comment section -->
    <!-- <div>
      <ion-refresher (ionRefresh)="purgeList($event)">
        <ion-refresher-content>

        </ion-refresher-content>
      </ion-refresher>

      <ion-list>
        <button ion-item *ngFor="let item of items1" (click)="viewComment(item.no_post)">
          <ion-card-header>
            <h3>{{item.nama_korban}}</h3>
          </ion-card-header>

          <ion-card-content>
            {{item.no_post}}
          </ion-card-content>
        </button>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div> -->
  </div>

  <div *ngIf="view=='comment'">

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" position="top">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-list text-wrap *ngFor="let msg of items1">
      <ion-item *ngIf="msg.posted_name!=null" class="item-content">

        <!-- messages appearing on the right -->
        <ion-grid
          *ngIf="msg.posted_by!=creds.data.email && creds.data.role ==1||msg.posted_by==creds.data.email && creds.data.role>=2">
          <ion-row>
            <ion-col>
              <div outline style="float:right; text-align: right;" color="primary">
                <h3><b>{{msg.posted_name}}</b></h3>
                <p>{{msg.message}}</p>
                <h2> <span class="time-display">{{dateToTime(msg.date_created)}} </span></h2>
              </div>
            </ion-col>
            <!-- <ion-col col-auto>
              <ion-avatar style="float:none;" color="primary">
                <img src='' color="blue">
                <b>{{msg.posted_by[0]}}</b>
              </ion-avatar>
            </ion-col> -->
          </ion-row>
        </ion-grid>

        <!-- messages appearing on the left -->
        <ion-grid
          *ngIf="msg.posted_by==creds.data.email && creds.data.role==1|| msg.posted_by!=creds.data.email && creds.data.role>=2">
          <ion-row>
            <!-- <ion-col col-auto>
              <ion-avatar color="secondary">
                <img src=''>
                <b>{{msg.posted_name[0]}}</b>
                <h3>{{msg.posted_name}}</h3>
              </ion-avatar>
            </ion-col> -->
            <ion-col>
              <div outline color="secondary">
                <h2> <span class="time-display">{{dateToTime(msg.date_created)}} </span></h2>
                <p> {{msg.message}} </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- test -->
        <!-- <ion-grid>
          <ion-row>
            <ion-col>
              <div style="float:right; text-align: center" color="primary">
                <h1>{{msg.message}}</h1>
                <h2> <span class="time-display"></span></h2>
                <p> </p>
              </div>
            </ion-col>
            <ion-col col-auto>
              <ion-avatar style="float:right;">
                <img src=''>
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid> -->

      </ion-item>
    </ion-list>

  </div>

  <div *ngIf="view=='progress'">

    <ion-infinite-scroll (ionInfinite)="doInfiniteProgress($event)" position="top">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-list text-wrap *ngFor="let msg of items2">
      <ion-item class="item-content">

        <!-- messages appearing on the left -->
        <ion-grid>
          <ion-row>
            <!-- <ion-col col-auto>
              <ion-avatar color="secondary">
                <img src=''>
                <b>{{msg.posted_name[0]}}</b>
                <h3>{{msg.posted_name}}</h3>
              </ion-avatar>
            </ion-col> -->
            <ion-col>
              <div outline color="secondary">
                <h2> <span class="time-display">{{dateToTime(msg.date_created)}} </span></h2>
                <p [ngStyle]="{ 'white-space': 'pre-wrap' }">{{msg.message}}</p>
                <button *ngIf="role==1 && msg.approved=='N'" (click)="showHint1()" color="primary" ion-button outline item-start>Acc</button>
                <button *ngIf="role==1 && msg.approved=='Y'" (click)="showHint2()" color="secondary" ion-button outline item-start>Acc</button>
                <button *ngIf="role==2 && msg.approved=='N'" (click)="askApproveProgress(msg)" color="danger" ion-button outline item-start>Acc</button>
                <button *ngIf="role==2 && msg.approved=='Y'" (click)="showHint3()" color="secondary" ion-button outline item-start>Acc</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- test -->
        <!-- <ion-grid>
          <ion-row>
            <ion-col>
              <div style="float:right; text-align: center" color="primary">
                <h1>{{msg.message}}</h1>
                <h2> <span class="time-display"></span></h2>
                <p> </p>
              </div>
            </ion-col>
            <ion-col col-auto>
              <ion-avatar style="float:right;">
                <img src=''>
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid> -->

      </ion-item>
    </ion-list>

  </div>

  <div *ngIf="view=='close'">
    <ion-toolbar>
      <h2 text-center>
        <b *ngIf="type==1">Tutup Kasus</b>
        <b *ngIf="type==2">Akhiri Kegiatan</b>
      </h2>
      <ion-textarea rows="10" type="text" class="form-control" placeholder="Tulis Pembelajaran yang didapat..."
        [(ngModel)]="tempPembelajaran"></ion-textarea>
    </ion-toolbar>
  </div>
</ion-content>

<ion-footer>
  <div text-center *ngIf="view=='post'">
    <ion-card color="primary" (click)="changeView(2)">
      <ion-card-content>
        <h2>Komentar</h2>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="type==1" color="primary" (click)="changeView(3)">
      <ion-card-content>
        <h2>Lihat Perkembangan</h2>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="creds.data.role==1 && type==1 && pembelajaran==''" color="danger" (click)="changeView(4)">
      <ion-card-content>
        <h2>Tutup Kasus</h2>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="creds.data.role==1 && type==2 && pembelajaran==''" color="danger" (click)="changeView(4)">
      <ion-card-content>
        <h2>Akhiri Kegiatan</h2>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="view=='comment'">
    <ion-toolbar>
      <input type="text" class="form-control" placeholder="Tulis Komentar..." [(ngModel)]="message"
        (keyup.enter)="send()">
      <ion-buttons right>
        <button (click)="send()" ion-button icon-only item-right class="send-chat-button">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div *ngIf="view=='progress' && creds.data.role==1">
    <ion-toolbar>
      <ion-textarea rows="5" type="text" class="form-control" placeholder="Tulis Perkembangan..."
        [(ngModel)]="message2"></ion-textarea>
      <ion-buttons right>
        <button (click)="askSendProgress()" ion-button icon-only item-right class="send-chat-button">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div text-center *ngIf="view=='close'">
    <ion-card *ngIf="creds.data.role==1" color="danger" (click)="askClosePost()">
      <ion-card-content>
        <h2 *ngIf="type==1">Tutup Kasus</h2>
        <h2 *ngIf="type==2">Akhiri Kegiatan</h2>
      </ion-card-content>
    </ion-card>
    <ion-card color="primary" (click)="changeView(1)">
      <ion-card-content>
        <h2>Kembali</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-footer>