page-post {
    .item-md ion-thumbnail {
        min-width: 25px;
        min-height: 25px;
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width:25px;
        height:25px;
    }
  
    .toolbar-title-md { 
      font-size: 20px;
    }

    .bigger-title{
        font-size: 20px;
        height: 100%;
    }
}