<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <button ion-button menuToggle>
      <ion-icon name="Back"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-item no-lines color="primary" style="font-size:12px">
          {{getRole(role)}}
        </ion-item>
      </ion-row>
      <ion-row>
        <!-- <ion-col>
          <ion-title>
            Beranda
          </ion-title>
        </ion-col> -->
        <ion-col>
          <ion-title>
            {{namaOrganisasi(organisasi)}}
          </ion-title>
        </ion-col>
        <ion-col>
          <button style="float:right" ion-button round (click)="askLogout()" color="primary">
            Keluar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

  <!-- top button for create new post -->
  <ion-toolbar [hidden]="role==2?true:false" color="primary">
    <div text-center>
      <button ion-button round (click)="newKasus()" [hidden]="jenis=='kasus'?false:true" color="primary">
        Mulai Kasus Baru
      </button>
      <button ion-button round (click)="newKegiatan()" [hidden]="jenis=='kegiatan'?false:true" color="primary">
        Buat Kegiatan Baru
      </button>
    </div>
  </ion-toolbar>

  <!-- choose view kasus or kegiatan -->
  <div>
    <ion-toolbar color="primary">
      <ion-segment [(ngModel)]="jenis" color="light">
        <ion-segment-button value="kasus" (click)="reqMyPosts()" color="primary">
          Kasus
        </ion-segment-button>
        <ion-segment-button value="kegiatan" (click)="populateItems2()" color="primary">
          Kegiatan
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>

  <!-- view all cases or only mine -->
  <div *ngIf="jenis=='kasus'">
    <ion-toolbar [hidden]="role==1?true:false" no-border-top>
      <ion-segment [(ngModel)]="view">
        <ion-segment-button [hidden]="role==1?false:true" value="me" (click)="reqMyPosts()">
          Kasus Saya
        </ion-segment-button>
        <ion-segment-button [hidden]="role==2?false:true" value="me" (click)="reqMyPosts()">
          Kasus Aktif
        </ion-segment-button>
        <ion-segment-button [hidden]="role==2?false:true" value="all" (click)="reqNewestPosts()">
          Semua Kasus
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="purgeList($event)">
    <ion-refresher-content pullingText="Tarik untuk Memuat Ulang">
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <div *ngIf="jenis=='kasus'&&view=='me'">
      <!-- <ion-list> -->
      <ion-card *ngFor="let item of items0" (click)="viewPost(1,item.no_post,item.posted_by,item.posted_name,item.tanggal_kejadian,item.title,item.province,item.nama_korban,item.nama_pelaku,item.kronologi)">
        <!-- <ion-thumbnail item-start>
            <ion-icon name="person"></ion-icon>
          </ion-thumbnail> -->
        <ion-card-content>
          <h2><b>{{item.title}}</b></h2>
          <p style="overflow-wrap:normal">{{shortenDescription(item.kronologi)}}</p>
          <h3 style="text-align:right"><b>{{jenisKejadian(item.jenis_kejadian)}}</b></h3>
          <i style="float:right; font-size:10px">penanggungjawab: {{item.posted_name}}</i>
        </ion-card-content>
      </ion-card>
      <!-- </ion-list> -->

      <ion-infinite-scroll (ionInfinite)="doInfiniteMe($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngIf="jenis=='kasus'&&view=='all' && role==2">
      <!-- <ion-list> -->
      <ion-card *ngFor="let item of items1" (click)="viewPost(1,item.no_post,item.posted_by,item.posted_name,item.tanggal_kejadian,item.title,item.province,item.nama_korban,item.nama_pelaku,item.kronologi)">
        <!-- <ion-thumbnail item-start>
            <ion-icon name="person"></ion-icon>
          </ion-thumbnail> -->
        <ion-card-content>
          <h2><b>{{item.title}}</b></h2>
          <p style="overflow-wrap:normal">{{shortenDescription(item.kronologi)}}</p>
          <h3 style="text-align:right"><b>{{jenisKejadian(item.jenis_kejadian)}}</b></h3>
          <i style="float:right; font-size:10px">penanggungjawab: {{item.posted_name}}</i>
        </ion-card-content>
      </ion-card>
      <!-- </ion-list> -->

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngIf="jenis=='kegiatan'">
      <!-- <ion-list> -->
      <ion-card *ngFor="let item of items2" (click)="viewPost(2,item.no_post,item.posted_by,item.posted_name,item.tanggal_kejadian,item.title,item.province,item.nama_korban,item.nama_pelaku,item.kronologi)">
        <!-- <ion-thumbnail item-start>
          <ion-icon name="person"></ion-icon>
        </ion-thumbnail> -->
        <ion-card-content>
          <h2><b>{{item.title}}</b></h2>
          <p style="overflow-wrap:normal">{{shortenDescription(item.kronologi)}}</p>
          <i style="float:right; font-size:10px">penanggungjawab: {{item.posted_name}}</i>
        </ion-card-content>
      </ion-card>
      <!-- </ion-list> -->

      <ion-infinite-scroll (ionInfinite)="doInfinite2($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <!-- <div *ngIf="jenis==='kegiatan'">
      <ion-list [virtualScroll]="items">
        <ion-item *virtualItem="let item">
          <ion-thumbnail item-start>
          <ion-icon name="person"></ion-icon>
        </ion-thumbnail>
          <h2>{{item.nama_korban}}</h2>
          <p>{{item.no_post}}</p>
        </ion-item>
      </ion-list>
    </div> -->
  </div>
</ion-content>
